# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/

# Logs
*.log
logs/
npm-debug.log*

# IDE
.idea/
.vscode/
*.sublime-*
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment
.env
.env.local
.env.*.local

lightpanda
.history/
